body {
    background: rgb(205,144,10);
    background: linear-gradient(0deg, rgba(205,144,10,1) 0%, rgba(34,135,195,1) 100%);
    margin: 0;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
   
    width: 500px;
    background: rgb(0, 0, 0,0.60);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
   
}

.input-group input {
    height: 25px;
    border-radius: 5px;
    border:2px solid rgb(205,144,10);
    margin-top: 5px;

}

.input-group label {
    color: white;
    font-size: 1.2em;
}

.input-group input:focus {
    outline: 0;
}


.btn-cont {
   
  display: flex;
  justify-content: center;
  margin: 25px;
  
  height: fit-content;

}
.btn {
    width: 50%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color:rgba(34,135,195,1);
    font-size: 1em;
    font-weight: bold;

}

.input-group .error {
    color: rgb(255, 0, 0);
    margin-top: 5px;
    padding-left: 5px;
    font-size: 1em;
     
}

.input-group.success input {
    border-color: aquamarine;
}

.input-group.error input {
    border-color: red;
}